
<div id="mySidenav" class="sidenav">
  <a href="/notes" id="all">All Notes </a>
  <a href="/notes/add" id="nwNote">Nw Note</a>
  <a href="/notesgrid" id="list">List</a>
  <a href="/NotesFunnel" id="fnnlChrt"> Chart</a>
  <a href="/NotesNetwork" id="network"> Network</a>
</div>