<div class="sidenav">
  <a href="/notes">All Notes</a>
  <a href="/notes/add">Add Note</a>
  <a href="/notesgrid">Notes List</a>
  <a href="/NotesNetwork">Notes Network</a>
  <a href="/NotesFunnel">Funnel Chart</a>
</div>